@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");


@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  src: url("https://github.com/neodgm/neodgm-pro/releases/download/v1.020/NeoDunggeunmoPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

b,
strong,
th {
  font-weight: 600;
}

a {
  color: #11a4d3;
}

hr {
  background-color: #a6a6a6;
  height: 1px;
  border: 0;
}

body,
input {
  font-size: 17px;
  line-height: 1.59;
  -webkit-font-smoothing: subpixel-antialiased;
  /* font-family: 'Pretendard', -apple-system-font, BlinkMacSystemFont, 'Helvetica Neue', sans-serif; */
  font-family: 'NeoDunggeunmoPro-Regular', sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

body {
  word-break: keep-all;
  margin: 20;
  /* padding: 10; */
  padding: 15px 10px !important;
}

body .container {
  margin: 0 auto;
  /* max-width: 640px; */
  max-width: 1160px;
  padding: 0 1em 1em;
}

body.dialog-open {
  overflow: hidden;
}

body.settings-open #settings-underlay {
  display: block;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

h2 {
  margin: 0;
}

input[type="button"] {
  color: black;
  padding: .5em;
  border: 1px solid #666666;
  border-radius: 0.2em;
}

#menu {
  display: flex;
  column-gap: .5em;
}

#menu .dialog-close {
  background: transparent;
  color: black;
  padding: 0;
}

.overlay-button {
  position: relative;
  color: black;
  background: none;
  border: none;
  height: 2em;
  font-weight: bold;
  width: 2em;
}

.overlay-button svg {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-underlay {
  background: rgba(0, 0, 0, .5);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.dialog {
  background: white;
  left: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
  overflow: hidden;
  position: fixed;
  right: 2em;
  top: 2em;
  z-index: 1;
  border-radius: .5em;
}

.dialog-close {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  color: black;
  font-size: 2em;
  height: 1em;
  line-height: 1em;
  right: .5em;
  top: .5em;
  width: 1em;
  z-index: 2;
}

.dialog-close svg {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-content {
  max-height: calc(100vh - 4em);
  padding: 2em;
  overflow: auto;
}

.dialog-content>*:first-child {
  margin-top: 0;
}

.dialog-content>*:last-child {
  margin-bottom: 0;
}

#guess-wrapper {
  display: flex;
  margin: 20px 0;
  align-items: center;
}

#guess-wrapper input,
#give-up-btn {
  padding: .5em;
  border: 1px solid #666666;
  border-radius: 0.2em;
}

#guesses {
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}


#guess-wrapper #guess {
  color: black;
  background-color: #ffffff;
  width: 100%;
  /* border-top-right-radius: 0;
  border-bottom-right-radius: 0; */
  border-radius: 0;
  border-color: #b2b2b2;
}

#guess-wrapper #guess-btn {
  color: black;
  background-color: #e3e3e3;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  border-radius: 0;
  margin-left: .5em;
}

#give-up-btn {
  /* color: black;
  background-color: #eeeeee; */

  background-color: rgb(166, 166, 166);
    color: white;
    padding: .5em;
    border: none;
    border-radius: 0;
    width: 20%;
    cursor: pointer;
}

th {
  padding-right: 3em;
  text-align: start;
}

th#chronoOrder,
th#alphaOrder,
th#similarityOrder,
input#give-up-btn,
input#guess-btn,
input#lower,
button {
  cursor: pointer;
}

.gaveup {
  border: none;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #e9e1e1;
}

.gaveup>*:first-child {
  margin-top: 0;
}

.close {
  text-align: left;
}

.percentile,
.progress-container,
.progress-bar, 
.percentage-text {
  display: inline-block;
  /* align-items: center;
  justify-content: center; */
}

.percentile {
  text-align: right;
  width: 5em;
}

.progress-container {
  background-color: #e9e1e1;
  width: 10em;
  position: relative;
}

.progress-bar {
  background-color: #5cb773;
  /* position: relative; */
}

.percentage-text {
  position: absolute;
  text-align: center;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.weirdWord {
  display: inline-block;
  border-bottom: 1px dotted black;
}

.weirdWord .tooltiptext {
  visibility: hidden;
  width: 20em;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.3ex 0;
  border-radius: 1ex;
  position: absolute;
  right: 0;
  z-index: 1;
  display: block;
  max-width: 100%;
}

.subtext {
  color: #666666;
}

ul {
  margin-top: -2.59em;
  padding-inline-start: 3em;
}

.weirdWord:hover .tooltiptext {
  visibility: visible;
}

.give-up-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.give-up-btn-wrapper .bottom-banner {
  display: block;
  width: 100%;
  margin-left: 8px;
  font-size: 0;
  text-decoration: none;
  background: url(/assets/banner-image.png) center no-repeat no-repeat;
  background-size: cover;
}

footer {
  margin-top: 5em;
}

#embedim--snow {
  display: none;
}

@media only screen and (max-width: 640px) {

  body,
  input {
    font-size: 14px;
  }

  table {
    width: 100%;
  }

  th {
    padding-right: .5em;
  }

  .progress-container {
    width: 8em;
  }
}

/* Dark mode */
body.dark {
  background: #111;
  color: #fafafa;
  color-scheme: dark;
}

body.dark .banner {
  color: #ffffff;
}

body.dark input[type="button"] {
  color: #fafafa;
  border: 1px solid #333;
}

body.dark .dialog {
  background: #333;
}

body.dark .dialog-close {
  color: #fafafa;
}

body.dark .progress-container {
  background: #333;
}

body.dark .gaveup {
  background: #334;
}

body.dark .weirdWord {
  border-color: #fafafa;
}

body.dark .weirdWord .tooltiptext {
  background-color: #333;
}

body.dark .overlay-button {
  color: #fafafa;
  height: 2em;
  font-weight: bold;
  width: 2em;
}

body.dark #guess-wrapper #guess-btn {
  color: #fafafa;
  background-color: #333;
}

body.dark #guess-wrapper #guess {
  color: #fafafa;
  background-color: #333;
}

body.dark #give-up-btn {
  color: #fafafa;
  background-color: #333;
}

body.dark .subtext {
  color: #aaaaaa;
}

body.dark.snow #embedim--snow {
  display: block;
}